<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard • The Ocean Cleanup</title>
        <link rel="stylesheet" href="./styles/style.css" />
        <script src="https://kit.fontawesome.com/5c3a777833.js" crossorigin="anonymous"></script>
        <script src="/scripts/script.js" defer></script> 
    </head>
    <body>
        <header>

            <nav>
                <a class="logo-container" href="#">
                    <svg class="logo" width="91" height="36" fill="none">
                        <path fill="#fff" d="M52.069 15.69V1.22h8.563v1.13h-7.329v5.53h7.205v1.126h-7.205v5.55h7.375v1.128l-8.609.006ZM13.632 8.93V1.275h4.448v.597h-3.795v2.797h3.728v.599h-3.728V8.33h3.817v.597l-4.47.002Zm57.556 1.27h-5.917l-2.154 5.498h-1.215L67.55 1.22h1.274l5.878 14.47h-1.276l-2.239-5.49.001-.001Zm-5.48-1.105h5.02L68.176 2.79l-2.468 6.304Zm11.488-5.763v12.353h-1.233V1.22h1.279l8.45 12.442V1.22h1.236v14.47h-1.28L77.196 3.33ZM14.119 35.719v-14.47h2.907V33h6.242v2.718h-9.149Zm10.909 0v-14.47h9.208v2.717h-6.302v3.009h6.199v2.672h-6.199v3.347h6.367v2.717l-9.273.008Zm19.832-3.972h-4.956l-1.422 3.972h-2.864l5.229-14.47h3.051l5.48 14.47h-3.073l-1.444-3.972h-.001Zm-4.056-2.47h3.158l-1.591-4.35-1.567 4.35Zm12.714-3.094v9.536h-2.823v-14.47h3.011l6.21 9.703v-9.703h2.825v14.47h-2.886l-6.337-9.536ZM29.509 15.78a7.392 7.392 0 1 1 7.392-7.391 7.403 7.403 0 0 1-7.392 7.39Zm0-13.524a6.132 6.132 0 1 0 6.13 6.133 6.14 6.14 0 0 0-6.13-6.133ZM8.211 33.1a4.66 4.66 0 1 1 4.057-6.934v-3.894a7.391 7.391 0 1 0 0 12.335v-3.89A4.656 4.656 0 0 1 8.211 33.1Zm37.883-18.58a6.132 6.132 0 1 1 4.17-10.61V2.293a7.393 7.393 0 1 0 0 12.19v-1.618a6.084 6.084 0 0 1-4.17 1.655Zm18.505 15.51v-8.825h2.906v8.825c0 1.902.898 3.199 2.885 3.199 1.905 0 2.847-1.34 2.847-3.222v-8.801h2.904v8.81c0 3.43-2.006 5.939-5.791 5.939-3.931-.008-5.75-2.37-5.75-5.924h-.001Zm17.861-.418h-1.59v6.066h-2.885V21.206h4.475c2.885 0 4.425 1.475 4.425 4.162.007 2.62-1.75 4.244-4.425 4.244Zm-1.59-5.9v3.39h1.357c1.07 0 1.66-.69 1.66-1.714 0-1.025-.586-1.672-1.66-1.672l-1.357-.004ZM4.089 1.872V8.93h-.653V1.872H1.718v-.597h4.119v.597H4.089Zm8.374 7.058h-.652V5.242H7.583V8.93H6.93V1.275h.653v3.352h4.228V1.275h.652V8.93Zm75.672 15.543a1.723 1.723 0 1 1 1.726-2.982 1.723 1.723 0 0 1-1.726 2.982Zm.129-2.765c-.222.126-.405.31-.531.533-.13.223-.198.478-.196.737a1.457 1.457 0 0 0 .726 1.27 1.468 1.468 0 0 0 2.006-.532 1.4 1.4 0 0 0 .2-.738 1.422 1.422 0 0 0-.2-.737 1.445 1.445 0 0 0-1.268-.73c-.26.002-.515.074-.737.208v-.011Zm.693 1.475h-.34v.78h-.276v-1.958h.804a.662.662 0 0 1 .454.166.614.614 0 0 1 .092.767.576.576 0 0 1-.214.184.468.468 0 0 1-.195.06l.527.788h-.341l-.51-.787h-.001Zm-.34-.948v.697h.528a.368.368 0 0 0 .251-.098.316.316 0 0 0 .105-.243.336.336 0 0 0-.105-.258.352.352 0 0 0-.25-.098h-.53.001Z"/>
                    </svg>
                </a>

                <input type="checkbox" id="check"> 
                <label for="check" class="hamburger">
                    <i class="fas fa-bars"> </i>
                </label>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link"> Ocean</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> Rivers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active"> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link"> Updates</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>

            <section>
                <h1>DASHBOARD</h1>
                <h2>PROCESS</h2>
                <h2>CLEANUP SOLUTIONS</h2>
            </section>

            <section>
                <p class="intro-s">
                    Follow our progress on the dashboard and learn more with our statistics of plastic waste collected from the sea around the world.
                </p>

                <div class="btn-box">
                    <button class="btn-explore" href="" aria-label="Read more about: Intercepting in rivers">
                        <span class="btn-text">Start exploring</span>
                        <svg class="btn-icon" width="21" height="21" fill="none">
                            <path fill="#fff" stroke="#fff" d="M19.3 6.8a9.5 9.5 0 0 0-12.5-5 9.5 9.5 0 0 0-5 12.4 9.5 9.5 0 0 0 12.4 5 9.5 9.5 0 0 0 5-12.4Zm-.5.2a9 9 0 0 1 .7 3.8l-.2-.4-.5-.4c-.3-.4-.6-.5-.8-.4-.7.2-1.2 1.6-1.6 3.2l-.2.6-.4.1c-.4.1-.5.2-.6.4l-2 3c-.2.2-1.1.5-1.6.6v-3.1l-.5-1.1.4-1 .7-.5.2-.2s0-.2-.2-.2l-1-.6c-.3-.1-.6 0-.7.2l-.6.8-.2.1v-.2c0-.3 0-.6-.2-.8l-1.1-.6v-.1c0-.8.3-1.5.4-1.6.4-.3 1.3-.2 1.8-.1h.2l.4-.1.1-.3V5.6l.8-.3.3.2c.1.2.4.1.6 0l.7-.3 1-.4a65.8 65.8 0 0 1 1.6-.3l.2-.7A9 9 0 0 1 18.8 7ZM7 2.2a9 9 0 0 1 7 0l-.2.2-.8.4c-.3.1-.5.3-.7.2a1 1 0 0 1-.7-.3l-.8-.4c-.5 0-1 .2-1.3.4l-.4.2c-.5.2-1.3.5-2 .5-.6 0-1-.2-1.2-.6L7 2.2Zm-5.5 8.3A9 9 0 0 1 2.8 6l.5 1.3c.2.3.3.6.3 1s-.2.7-.3 1c-.2.3-.3.5-.3.8-.4 1-.1 2.2.2 3.3l.2.9c.1.3.2.6 0 .8 0 .2-.2.2-.3.3a9 9 0 0 1-1.6-4.9ZM18.8 14a9 9 0 0 1-15.5 1.9l.5-.4c.3-.4.3-1 .2-1.3l-.3-1c-.3-1-.6-2-.2-3l.2-.6c.2-.4.4-.8.4-1.3S4 7.4 3.8 7l-.7-1.6a9 9 0 0 1 2.3-2.3c.4.5 1 .8 1.7.8A6 6 0 0 0 9.7 3l1-.3c.2 0 .4.2.6.4l1 .4a37.4 37.4 0 0 1 1.8-.7l.5-.4 1.5 1-.3.7h-1.3l-1.8.9c-.2-.2-.5-.5-.8-.3l-1 .4-.1.7a31.6 31.6 0 0 0 0 2h-.2c-.6 0-1.6-.2-2.2.3l-.4 1-.1.8c-.2.3 0 .6.2.7l1.1.6v.6c0 .4.3.5.4.5.4 0 .7-.2.8-.3l.5-.8.7.3-.4.3-.4.7-.2.8.4 1.2v1l.1 2.3.2.2h.1l1.2-.3a17.2 17.2 0 0 0 1-.5l2-3.2.8-.2c.2 0 .3-.2.3-.4l.2-.5a7 7 0 0 1 .6-1.9c.3-.8.5-1 .6-1l.7.6.5 1a9 9 0 0 1-.5 2.3Z"/>
                        </svg>
                    </button>
                </div>
            </section>

        </main>

        <footer>

        </footer>
    </body>
</html>